body.light {
    background-color: #f9f9f9;
    color: #333;
  }
  
  body.dark {
    background-color: #1a202c;
    color: #f9f9f9;
  }
  
  header {
    text-align: center;
  }
  
  footer {
    text-align: center;
  }
  
  @keyframes bubble {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-1000px);
    }
  }
  